BLAS_LIB	= `pkg-config mkl-dynamic-lp64-iomp\
			   --define-variable=MKLROOT=${MKLROOT} --libs`
BLAS_CFLAGS	= `pkg-config mkl-dynamic-lp64-iomp\
			   --define-variable=MKLROOT=${MKLROOT} --cflags`

OPENMP_FLG	= -qopenmp

# C compiler
CC			= icx
CPP			= icpx
# make
MAKE		= make
# install
INSTALL		= install
# archiver
AR			= ar
# remove
RM			= rm -f

